
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Paprika&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="~/css/site.css" />">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

</body>

</html>


<h1 class="MainText">About us</h1>
<div class="TextContainer">
    <div class="Discr">
        <p>We are a small industry who's selling a few kinds of clothes</p>
        <p>Data which you gave us is in 100% safe</p>
        <p>We are going to put our whole efford to complite your order</p>
        <p>If you have any ideas to develop us web site dont hesitate to share it with us </p>

    </div>

</div>
<div class="TextContainer">
    <div class="Discr">
        <p>This site is made to my own portfolio</p>
        <p>I made this page all on my own, I wrote front-end and back-end</p>
        <p>This site may show me how much progres I made</p>
        <p>U can find whole code of this page on my GITHUB</p>

    </div>

</div>










<footer class="footer">
    <div class="fot-text">
        <h2><span class="material-symbols-outlined ">Public</span>World delivery</h2>

        <h2><span class="material-symbols-outlined ">Eco</span>Eco friendly</h2>

        <h2><span class="material-symbols-outlined ">Lock</span>High-level security</h2>
    </div>


</footer>




</body>

</html>