html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
* {
    font-family: 'Paprika', sans-serif;
}

body {
    background-color: #7770a3;
}

ul {
    list-style: none;
    text-align: center;
    align-items: center;
}

    ul li {
        display: inline-block;
        position: relative;
        padding: 2%;
    }

ul li a {
            display: block;
            padding: 20px 25px;
            color: #FFF;
            text-decoration: none;
            text-align: center;
            font-size: 30px;
}

ul li ul.dropdown li {
            display: block;
}

ul li ul.dropdown {
            width: 100%;
            background: #614aa3;
            position: absolute;
            z-index: 999;
            display: none;
            text-align: center;
            margin-right: 100px;
}

ul li a:hover {
            background: #74669c;
            text-align: center;
}

ul li:hover ul.dropdown {
            display: block;
            margin-right: auto;
            border-radius: 10px;
}

.menu-bar {
    background-color: aqua;
    width: auto;
    height: auto;
    background: #614aa3;
    border-radius: 30px;
    margin: 0;
    padding: 0;
}

.head1 {
    text-align: center;
    font-size: 100px;
    width: auto;
    height: auto;
    background-color: #614aa3;
    border-radius: 12px;
}

.ofert {
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    margin: 20px;
    border-style: groove;
}

.ofert:hover {
        border-radius: 40px;
        border-style: dashed;
}

.middle {
    text-align: center;
    padding: 1%;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}

.footer {
    width: auto;
    height: 150px;
    background-color: #614aa3;
    border-radius: 20px;
    font-size: medium;
}

.fot-text {
    text-align: center;
  
  
}

.form1 {
    margin-left: 700px;
    position:relative;
    top:300px;
   
}

.InputSet {
    width: 400px;
    height: 30px;
}

.but-1 {
    font-family: Arial, Helvetica, sans-serif;
    height: 70px;
    width: 200px;
    text-align: center;
    background-color: yellow;
    border-radius: 10px;
    font-size: xx-large;
    cursor: pointer;
}

but-1:hover {
    color: white;
    border-style: dashed;
    border-radius: 15px;
}

but-1:hover {
    background-color: #EAD6B2;
}

.form-container {
    background-color: #614aa3;
    border-radius: 12px;
    width: 500px;
    height: 500px;
    position: absolute;
    align-items: center;
    text-align: center;
    top: 50%;
}
.footer12 {
    width: auto;
    height: 150px;
    background-color: #614aa3;
    border-radius: 20px;
    font-size: medium;
    margin-top: 50%;
    text-align: center;
    position: relative;
}




.ToCart-but {
    text-align: center;
    margin-left: 350px;
    position: relative;
    
}

.ToCart-but {
    border-radius: 10px;
    font-size: x-large;
    background-color: yellow;
    position: absolute;
    cursor: pointer;
    margin-top: 10%;
    margin-left: 20%;
}

.select1 {
    border-radius: 10px;
    font-size: x-large;
    background-color: yellow;
    position: absolute;
    cursor: pointer;
    margin-top: 13%;
    margin-left: 20%;
}

.select2 {
    border-radius: 10px;
    font-size: x-large;
    background-color: yellow;
    position: absolute;
    cursor: pointer;
    margin-top: 15%;
    margin-left: 20%;
}

.product-heder {
    position: relative;
    margin-left: 77%;
    font-size: xx-large;
}

.Price {
    position: relative;
    margin-left: 77%;
    font-size: medium;
}

.BetterPosition {
    position: relative;
    margin-top: 50%;
}

.product-container {
    height: auto;
    width: 1200px;
    border-radius: 30px;
    background-color: #513b8d;
}
.MainText {
    font-size: xx-large;
    text-align: center;
}

.Discr {
    border-radius: 8px;
    text-align: center;
    font-size: larger;
}

.TextContainer {
    text-align: center;
    width: auto;
    height: auto;
    background-color: #614aa3;
    border-radius: 500px;
}
.container {
    width: 100%;
    height: 100px;
    background-color: #614aa3;
    border-radius: 20px;
    text-align: center;
    position: static;
}

.container2 {
    background-color: #614aa3;
    width: auto;
    height: auto;
    border-radius: 12px;
    margin: 200px;
}

.ButtonCart {
    width: 100px;
    height: 50px;
    border-radius: 12px;
    text-align: center;
    margin-left: 800px;
    position: absolute;
    top: 1100px;
    left: 600px;
    cursor: pointer;
    background-color: yellow;
}

.info {
    text-align: center;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-400%);
}
.DataTable {
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: xx-large;
}

th,
td {
    border: 3px solid black;
}

.TabelePosition {
    text-align: center;
}