
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paprika&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Main Page</title>
</head>

<body>
    <div class="menu-bar">

        <ul>
            <li><a asp-controller="Home" ><span class="material-symbols-outlined ">Home</span>Home</a></li>
            <li>
                <a href="#"><span class="material-symbols-outlined ">Storefront</span>Offerts</a>
                <ul class="dropdown">
                    <li><a asp-controller="ProductPageController1">Shoes</a></li>
                    <li><a href="#">Pants</a></li>
                    <li><a href="#">Socks</a></li>
                    



                </ul>
            </li>

            
            <li><a asp-action="" asp-controller="AboutUs"><span class="material-symbols-outlined ">Person</span>About us</a>
            </li>
            <li><a asp-action="" asp-controller="LoginPage"><span class="material-symbols-outlined ">Person</span>Account</a>
            
                <ul class="dropdown">
                    <li><a asp-controller="AllOrders" >All orders</a></li>
                </ul>
            
            </li>


        </ul>
    </div>



 


</body>

</html>
@RenderBody()