@using MyPerfectClothes.Controllers;
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Paprika&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="~/css/site.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
@for (int i = 0; i < 8; i++)
    {
        <br />
    }

    <div class="container">
        <h1 class="CartHead">Your cart</h1>
    </div>
    @for (int i = 0; i < 4; i++)
    {
        <br />
    }

    <hr />  

    @for (int i = 0; i < 4; i++)
    {
        <br />
    }

    <div class="container2">
        
        
        <img src="~/Pictures/Cart1.png" />
 

        <div class="info">

           <h3>Name: @ViewBag.NameOfProduct</h3>
           <h3>Price: @ViewBag.PriceOfProduct</h3>
  
        </div>

        <button class="ButtonCart" type="submit">Go to order</button>



    </div>



    <footer class="footer">
        <div class="fot-text">
            <h2><span class="material-symbols-outlined ">Public</span>World delivery</h2>

            <h2><span class="material-symbols-outlined ">Eco</span>Eco friendly</h2>

            <h2><span class="material-symbols-outlined ">Lock</span>High-level security</h2>
        </div>


    </footer>



</body>

</html>