
@{
    ViewData["Title"] = "LoginPage";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paprika&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Main Page</title>
</head>

<body>




    <div class="form1">
        <form>
            <div class="form-container">
                <h1 class="SignText">Sign up</h1>
                <br>
                <input class="InputSet" type="email" placeholder="E-mail">

                <br>
                <br>
                <br>
                <br>


                <input class="InputSet" type="password" placeholder="Password">
                <br>
                <br>
                <br>
                <br>
                <br>

                <button class="but-1" type="submit">


                    Sign in


                </button>
            </div>
        </form>

    </div>

    <br />
    <br />
    <br />


    <footer class="footer12">

        <div class="fot-text">
            <h2><span class="material-symbols-outlined ">Public</span>World delivery</h2>

            <h2><span class="material-symbols-outlined ">Eco</span>Eco friendly</h2>

            <h2><span class="material-symbols-outlined ">Lock</span>High-level security</h2>
        </div>


    </footer>







</body>

</html>

